.carousel-item img {
  width: 100%;
  height: 80vh;       /* ocupa el 80% del alto de la pantalla */
  object-fit: cover;
}

.card img {
  height: 250px;
  object-fit: cover;
  border-bottom: 3px solid #dc3545; /* detalle gamer */
}
body {
  font-family: 'Segoe UI', sans-serif;
}

/* Navbar y Footer */
footer p { color: #bbb; }

/* Formulario */
form {
  max-width: 800px;
  margin: 0 auto;
}

form .form-control {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
}

form textarea#mensaje {
  resize: none;
  height: 150px;
}

/* Efecto gamer */
.form-control:focus {
  border-color: #dc3545;
  box-shadow: 0 0 8px #dc3545;
  transition: 0.2s;
}

/* Cards y Carrusel */
.card img {
  height: 220px;
  object-fit: cover;
}
.carousel-item img {
  height: 80vh;
  object-fit: cover;
}
